
.dypnf_log{
    font-family: 'Prompt', sans-serif;
}

.dypnf_footer_button{
    font-size: .6rem;
}

.dypnf_footer{
    text-align:center; 
    margin-top: 2rem;
}

.dypnf_header{
    text-align:center; 
    margin: 2rem 0;
}